spaces
gradio>=4.0
torch
torchvision
torchaudio
numpy
opencv-python
face_alignment
imageio
imageio-ffmpeg
librosa
numba
resampy
pydub
scipy
kornia
yacs
pyyaml
joblib
scikit-image
basicsr
facexlib
gfpgan
